body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(20 20 20);
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    grid-template-rows: repeat(1, 1fr);
    max-width: 800px !important;
    margin-right: auto;
    margin-left: auto;
}

#root {
    height: 100%;
    width: 100%;
}

input {
    border: none;
    outline: none;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    font-family: "Lora", serif;
    font-weight: 600;
}

h1 {
    position: fixed;
    width: 100%;
    top: 50px;
    text-align: center;
    color: white;
    font-family: "Lora", serif;
    font-size: 26pt;
    font-weight: 400;
}

#play-area {
    height: 50vh;
    width: 100%;
    /* background-color: rgb(110, 61, 58); */
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    box-sizing: border-box;
}

#reset {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

#title-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#god-area {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

#god-icons-container {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.884);
    display: grid;
    justify-items: center;
    align-items: center;
}

#god-icons {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    justify-items: center;
    align-items: center;
    column-gap: 10px;
}

#confirm-gods-button {
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: "Lora", serif;
    font-weight: 600;
    cursor: pointer;
    background-color: #9F3932;
    border: none;
    border-radius: 5px;
    grid-column: span 4;
}

#confirm-gods-button:disabled {
    background-color: grey;
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.507);
}

#title-image {
    width: 60%;
}

#god-card {
    width: 95%;
    border-radius: 5px;
}

.card {
    height: 80%;
    width: 80%;
    background-color: rgb(36, 36, 36);
    /* background-color: rgb(34, 34, 34); */
    /* background-color: rgb(211, 145, 69); */
    border: 8px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.value {
    position: relative;
    color: rgb(0, 0, 0);
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0 10px 0;
    margin: 0;
    padding: 0;
    font-weight: 900;
}

.icons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3px;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.feather {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.scorpion {
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
}

.god-icon {
    width: 90%;
    border-radius: 50%;
}

.active {
    border: 4px solid rgb(255, 174, 0);
    border-radius: 50%;
    box-sizing: border-box;
}

.chosen-god {
    width: 100%;
    z-index: 5;
}