body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(20 20 20);
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    grid-template-rows: repeat(1, 1fr);
}

#root {
    height: 100%;
    width: 100%;
}

input {
    border: none;
    outline: none;
    font-size: 2.5rem;
    text-align: center;
    cursor: pointer;
    font-family: "Lora", serif;
    font-weight: 600;
}

h1 {
    position: fixed;
    width: 100%;
    top: 50px;
    text-align: center;
    color: white;
    font-family: "Lora", serif;
    font-size: 26pt;
    font-weight: 400;
}

#play-area {
    height: 60vh;
    width: 100vw;
    /* background-color: rgb(110, 61, 58); */
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    box-sizing: border-box;
}

#reset {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

#title-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#title-image {
    width: 60%;
}

.card {
    height: 80%;
    width: 80%;
    background-color: rgb(36, 36, 36);
    /* background-color: rgb(34, 34, 34); */
    /* background-color: rgb(211, 145, 69); */
    border: 8px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.value {
    position: relative;
    color: rgb(0, 0, 0);
    top: -8px;
    left: -8px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0 10px 0;
    margin: 0;
    padding: 0;
    font-weight: 900;
}

.icons {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px;
    justify-items: center;
    align-items: center;
}

.feather {
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
}

.scorpion {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
}